

<div class="jumbotron text-center">
	<h1>{{t 'appName'}}</h1>
<h3>{{moment-format hoy}} {{locale}}</h3>
	{{#if responseMessage}}
		<div class="alert alert-success" role="alert">{{responseMessage}}</div>
	{{/if}}

</div>
