<div class="well text-center">
  <form {{action 'authenticate' on='submit'}}>
    {{input id='identification' placeholder='...@...' value=identification}}
    {{input id='password' placeholder='*****' type='password' value=password}}
    <button type="submit"><span class="glyphicon glyphicon-off" aria-hidden="true"></span></button>
    {{#if errorMessage}}
      <p>{{errorMessage}}</p>
    {{/if}}
  </form>
</div>
